.card {
	background-color: #f5f5f5;
	padding: 1rem;
	border-radius: 6px;
	height: 15rem;
	position: relative; /* Required for our button's absolute positioning to pin it to the bottom of the card*/
	width: 100%;
}

.card h3 {
	font-family: "PT Serif", "Times New Roman", serif;
}

.cardButton {
	width: fit-content;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	font-size: inherit;
	padding: 1rem;
	border-radius: 6px;
	background-color: #172554;
	color: white;
	border-style: none;
	font-weight: bold;
}

.cardButton:hover {
	cursor: pointer;
	background-color: #0f1728;
}
