.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	min-height: 50vh;
}

.heroHeader {
	font-size: 3rem;
	margin: 1rem 0 0.5rem;
	color: white;
	text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.33);
}

.heroDescription {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 1.5rem;
	text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.33);
	text-align: center;
	font-size: 0.8rem;
}

@media (max-width: 810px) {
	.heroHeader {
		font-size: 2rem;
	}
	.doubleContainer .heroDouble {
		flex-direction: row;
	}
}
